<style type="text/css">
.center {
text-align: center;
}
</style>
<div class="container">
    <div class="jumbotron">
        <h1>Sign Guestbook</h1>
        <form class="form-horizontal" method="post" action="">
            <fieldset>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="name" name="name" type="text" placeholder="" class="input-xlarge">
                        
                    </div>
                </div>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input id="email" name="email" type="text" placeholder="" class="input-xlarge">
                        
                    </div>
                </div>
                <!-- Textarea -->
                <div class="control-group">
                    <label class="control-label" for="comment">Comment</label>
                    <div class="controls">
                        <textarea id="comment" name="comment"></textarea>
                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="control-group">
                    <label class="control-label" for="submitComment"></label>
                    <div class="controls">
                        <button id="submitComment" name="submitComment" type="button" class="btn btn-success">Submit</button>
                        <button id="resetComment" name="resetComment" type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="jumbotron">
        <h1>Search Guestbook</h1>
        <form class="form-horizontal" method="post" action="">
            <fieldset>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input id="nameSearch" name="name" type="text" placeholder="" class="input-xlarge">
                        
                    </div>
                </div>
                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="searchButton"></label>
                    <div class="controls">
                        <button id="searchButton" name="searchButton" type="button" class="btn btn-info">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="jumbotron">
        <h1>View Guestbook</h1>
        <div id="viewGuestbook"></div>
    </div>
</div>